form.signup,
form.login {
  margin-top: 50px;
  background-color: aliceblue;
  padding: 18px;
  border-radius: 10px;
}

body {
  background-color: black;
  background-image: url("../images/retro-gaming-08.png");
  background-repeat: contain;
  background-size: 100%;
  font: black;

}

.navbar {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-image: radial-gradient(circle, #00d4ff 100%, #5c0067 0%);
  font-family: 'Orbitron', sans-serif;
  padding: 5px 20px 5px 20px;

}

.navbar-brand {
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 35px;
  display: inline-flex;
}

#blurb {
  margin-top: 14px;
  display: inline-block;
  color: white;
  display: inline-flex;
}

#logout-button {
  border-radius: 4px;
  border-color: #5c0067;
  margin-bottom: 17px;
  display: inline-flex;
  margin-top: 14px;
}

.font2 {
  color: white;
  font-family: 'Orbitron', sans-serif;
  padding-top: 17px;
  font-size: 22px;
}

.font3 {
  color: white;
  border-width: 1px;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 12px;
  background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
  width: 710px;
}

.font {
  color: white;
  border-width: 1px;
  border-radius: 10px;
  padding: 8px 12px;
  margin-bottom: 12px;
  background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
  text-align: center;
}

#new-game {
  height: 72px;
}

#submit-button {
  margin-bottom: 20px;
}

#font2-div {
  height: 60px;
  background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
  margin-bottom: 10px;
}

h2 {
  color: black;
  border-style: solid;
  background: white;
  padding: 5px;
}

.tiny_text {
  font-size: 11px;
  color: #5da82f;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footerDivider {
  height: 4px;
  background-color: white;
  margin-top: 230px;
  width: 100%;
}

.footerMain {
  height: 40px;
  background-color: #00d4ff;
  text-align: center;
}

.footerText {
  padding-top: 10px;
  color: white;
}