form.signup,
form.login {
  margin-top: 50px;
}

body {
  background-color: black;
  background-image: url("../images/gamer.png");
  background-repeat: contain;
  background-size: 100%;
  font: black;
   
}

h2 {
  color: black;
  border-style: solid;
  background: white;
  padding: 5px;
}