<nav class="navbar navbar-light">
    <a class="navbar-brand">Gamer Collection Connection</a>


</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="font">User Login</h2>
            <form class="login">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email-input" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                    <p><a href="/">Forgot Password?</a></p>
                </div>
                <button type="submit" class="btn btn-default">Login</button>
                <button type="submit" class="btn btn-default">Create an Account</button>
            </form>

        </div>
    </div>
</div>

<footer class="footer">
    <div class="footerDivider"></div>
    <div class="footerMain">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footerText">
                        <h7>©2020 Daniel Cash, Diane Reeves, Ben Salinaro</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>